@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(./code.css);
@import url(./prose.css);
@import 'intellij-prism.css';

@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/Pretendard-Thin.woff2') format('woff2');
  font-weight: 100;
}
@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/Pretendard-ExtraLight.woff2') format('woff2');
  font-weight: 200;
}
@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/Pretendard-Light.woff2') format('woff2');
  font-weight: 300;
}
@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/Pretendard-Regular.woff2') format('woff2');
  font-weight: 400;
}
@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/Pretendard-Medium.woff2') format('woff2');
  font-weight: 500;
}
@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/Pretendard-SemiBold.woff2') format('woff2');
  font-weight: 600;
}
@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/Pretendard-Bold.woff2') format('woff2');
  font-weight: 700;
}
@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/Pretendard-ExtraBold.woff2') format('woff2');
  font-weight: 800;
}
@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/Pretendard-Black.woff2') format('woff2');
  font-weight: 900;
}

@layer base {
  html {
    font-family: Pretendard, system-ui, sans-serif;
  }
}

:root {
  --background-rgb: #edf2f7;
  --foreground-rgb: #edf2f7;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}
