@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-rgb: #edf2f7;
  --foreground-rgb: #edf2f7;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}
