.prose {
  @apply mt-10 mb-32 w-full;
}

.prose a {
  @apply transition-all text-primary-color dark:text-background-color;
}

.prose p {
  @apply transition-all text-primary-color dark:text-background-color;
}

.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6 .prose ul,
.prose li {
  @apply transition-all text-primary-color dark:text-background-color;
}

.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6 {
  @apply mt-20;
}

.prose blockquote {
  @apply my-10;
}

.prose .anchor {
  @apply invisible absolute no-underline;

  margin-left: -1em;
  padding-right: 0.5em;
  cursor: pointer;
}

.prose .anchor:after {
  content: '#';
}

.anchor:hover,
.prose *:hover > .anchor {
  @apply visible;
}

.prose .rehype-code-title {
  @apply rounded-t-lg px-2 py-1 text-sm font-bold border-primary-color bg-secondary-color text-primary-color;
}

.prose .language-tsx {
  @apply m-0 rounded-t-none;
}

h2#contents {
  @apply opacity-60;
}

h2#contents + ul {
  @apply opacity-60;
}
